<div class="leftline-header">
  <div class="username">
    <a href="#">inori</a>
  </div>
  <div class="chatcreate">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class= "underleft">
  <div class="room">
    <div class="roomname">
      <a href="#">inoriroom1</a>
    </div>
  </div>
  <div class="room">
    <div class="roomname">
      <a href="#">inoriroom2</a>
    </div>
  </div>
</div>